<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isEnableSelectingMode">SimpleNotes</ion-title>
    <ion-buttons end *ngIf="!isEnableSelectingMode">
      <button ion-button icon-only (click)="openListOptionsPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <span *ngIf="isEnableSelectingMode">{{'SELECTED' | translate}}: {{selected}}</span>
    <ion-buttons end *ngIf="isEnableSelectingMode">
      <button ion-button icon-only (click)="deleteSelectedItems()">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="closeListOptionsPopover()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list [ngClass]="{'selecting-mode': isEnableSelectingMode}">
    <ion-item #noteElement class="note-item" *ngFor="let note of notes" (click)="openNote(note)" (contextmenu)="openItemOptionsPopover(note, noteElement)">
      <div class="select-container" (click)="selectItem($event, note)">
        <button ion-button icon-only clear><ion-icon [name]="note.selected ? 'checkbox' : 'square-outline'" color="dark"></ion-icon></button>
      </div>
      <div class="content">
        <p class="note-title">
          {{note.title}}
        </p>
        <p class="note-description">{{note.description}}</p>
        <p class="note-date">{{(note.refreshed ? note.refreshed : note.created) | localizedDate}}</p>
        <!--<p class="note-img" *ngIf="note.image">-->
          <!--<img [src]="note.image">-->
        <!--</p>-->
      </div>
    </ion-item>
  </ion-list>

</ion-content>
<ion-fab>
  <button ion-fab side="bottom" (click)="openMenu()"><ion-icon name="add"></ion-icon></button>
</ion-fab>
