page-home {
  html, body {
    color: #222;
  }

  .selecting-mode {
    .item-inner {
      padding-left: 16px;
    }
    .select-container {
      left: 0;
    }
  }

  .select-container, .item-inner {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }

  ion-fab {
    position: absolute;
    bottom: 5vmin;
    right: 5vmin;
  }

  .note-date {
    position: absolute;
    right: 8px;
    top: 1.5rem;
    padding: 0 0 4px 3rem;
    background: #ffffff;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, #ffffff 20%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,#ffffff 20%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,#ffffff 20%);
  }

  .note-title, .note-description {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .note-title {
    //-webkit-line-clamp: 1;
    //line-clamp: 1;
    font-size: 1.8rem;
    max-height: 2.16rem;
    margin-bottom:4px;
  }

  .note-description {
    text-overflow: ellipsis;
    white-space: normal;
    //-webkit-line-clamp: 2;
    //line-clamp: 2;
    max-height: 3.5rem;
    line-height: 1.25;
  }

  .list-md {
    margin: 8px 0 16px;
  }

  .select-container {
    position: absolute;
    top: 50%;
    left: -30px;
    -webkit-transform: translateY(-1.5em);
    -moz-transform: translateY(-1.5em);
    -ms-transform: translateY(-1.5em);
    -o-transform: translateY(-1.5em);
    transform: translateY(-1.5em);
    padding: 0.6rem 0 0.3rem 2px;
  }

  .selecting-mode {
    ion-item {

    }
  }
}

.action-sheet-group {
  overflow: hidden!important;
}

