<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button color="dark" (click)="save()">{{ 'SAVE_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{ "DATE" | translate }}</ion-label>
    <ion-datetime [displayFormat]="displayFormat"
                  pickerFormat="DD MMM YYYY"
                  [(ngModel)]="selectedDate"
                  [monthNames]="monthNames"
                  [monthShortNames]="monthShortNames"
                  [dayNames]="dayNames"
                  [min]="minDate"
                  [max]="maxDate"
                  cancelText="{{ 'CANCEL' | translate}}"
                  doneText="{{ 'DONE' | translate}}"
                  (ionChange)="changeFormat()"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>{{ "TIME" | translate }}</ion-label>
    <ion-datetime [displayFormat]="timeDisplayFormat"
                  [(ngModel)]="selectedTime"
                  cancelText="{{ 'CANCEL' | translate}}"
                  doneText="{{ 'DONE' | translate}}"></ion-datetime>
  </ion-item>


  <!--<ion-item>-->
    <!--<ion-label>{{ 'REPEAT' | translate }}</ion-label>-->
    <!--<ion-toggle #repeatToggle [(ngModel)]="isRepeatEnable"></ion-toggle>-->
  <!--</ion-item>-->
  <!--<ion-item [hidden]="!repeatToggle.value">-->

      <!--<ion-select #everySelect-->
                  <!--[(ngModel)]="repeat"-->
                  <!--interface="popover"-->
                  <!--placeholder="{{ 'EVERY' | translate }}"-->
                  <!--okText="{{ 'DONE' | translate }}"-->
                  <!--cancelText="{{ 'CANCEL' | translate}}">-->
        <!--<ion-option value="YEAR">{{ 'YEAR' | translate}}</ion-option>-->
        <!--<ion-option value="MONTH">{{ 'MONTH' | translate}}</ion-option>-->
        <!--<ion-option value="WEEK">{{ 'WEEK' | translate}}</ion-option>-->
        <!--<ion-option value="DAY">{{ 'DAY' | translate}}</ion-option>-->
        <!--<ion-option value="HOUR">{{ 'HOUR' | translate}}</ion-option>-->
        <!--<ion-option value="MINUTE">{{ 'MINUTE' | translate}}</ion-option>-->
      <!--</ion-select>-->

      <!--<ion-input type="number" placeholder="{{ 'NUMBER' | translate }}" min="1" clearInput>-->
      <!--</ion-input>-->
  <!--</ion-item>-->

</ion-content>
