<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>-->
      <!--{{'LANGUAGE' | translate}}-->
    <!--</ion-title>-->
  <!--</ion-toolbar>-->

<!--</ion-header>-->


<ion-content>
  <button ion-button clear (click)="clearSketch()" class="clear-button">
    <span ion-text>{{'CLEAR' | translate}}</span>
  </button>
  <button ion-button clear (click)="dismiss()" class="close-button">
    <span ion-text>OK</span>
  </button>
  <canvas id="canvas"></canvas>
  <ion-fab left bottom>
    <button ion-fab [color]="selectedColor.name" mini></button>
    <ion-fab-list side="top">
      <button ion-fab mini *ngFor="let c of palette" [color]="c.name" (click)="setColor(c)"></button>
    </ion-fab-list>
  </ion-fab>
  <button ion-button icon-only clear (click)="chooseTool()" class="tool-select">
    <span [class]="isEraserSet ? 'my-icon-pencil' : 'my-icon-eraser'"></span>
  </button>

  <!--<ion-fab left bottom class="size-select">-->
    <!--<button ion-fab color="dark" mini></button>-->
    <!--<ion-fab-list side="top">-->
      <!--<button ion-fab mini *ngFor="let c of palette" color="dark"></button>-->
    <!--</ion-fab-list>-->
  <!--</ion-fab>-->
</ion-content>
