sketch-modal {
  .fab[mini] {
    margin: 9px 18px;
  }

  ion-fab-list {
    margin: 33px 0;
  }

  .size-select {
    left: 53px;
  }

  .tool-select {
    position: absolute;
    bottom: 10px;
    left: 50px;
  }

  .close-button, .clear-button {
    position: absolute;
    top: 0;
  }

  .close-button {
    right: 10px;
  }

  .clear-button {
    left: 10px;
  }

  //.tool-select {
  //  left: 66px;
  //  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
  //  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
  //}

  #canvas {
    width:100%;
    height:100%;
    //-webkit-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    //box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
  }

  .scroll-content {
    overflow: hidden;
  }




}
