page-note {
  ion-fab {
    position: absolute;
    bottom: 5vmin;
    right: 5vmin;
  }
  .text-input.text-input-md, .text-input.text-input-ios, .text-input {
    margin: 13px 15px 0;
  }
  .ql-container {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 5vmin;
  }
  ion-input {
    font-size: 5.2vmin;
  }

  div.ql-editor.ql-blank::before {
    color: #999;
    font-style: normal;
  }
  .ql-formats button.ql-list, .ql-formats button.ql-image {
    display: none;
  }

  .ql-editor img {

  }

}
@media (min-height: 761px) {
  page-note {
    .ql-container {
      height: 95%;
    }
  }
}
@media (max-height: 761px) {
  page-note {
    .ql-container {
      height: 94%;
    }
  }
}
@media (max-height: 701px) {
  page-note {
    .ql-container {
      height: 93.5%;
    }
  }
}
@media (max-height: 641px) {
  page-note {
    .ql-container {
      height: 92.5%;
    }
  }
}
@media (max-height: 581px) {
  page-note {
    .ql-container {
      height: 92%;
    }
  }
}
@media (max-height: 521px) {
  page-note {
    .ql-container {
      height: 91%;
    }
  }
}
@media (max-height: 461px) {
  page-note {
    .ql-container {
      height: 89.7%;
    }
  }
}
@media (max-height: 411px) {
  page-note {
    .ql-container {
      height: 88%;
    }
  }
}
@media (max-height: 321px) {
  page-note {
    .ql-container {
      height: 84%;
    }
  }
}

@media (min-width: 768px) {
  page-note {
    .ql-container {
      font-size: 3.1vmin;
    }
    ion-input {
      font-size: 3.9vmin;
    }
  }
}

@media (min-width: 1024px) {
  page-note {
    .ql-container {
      font-size: 2.7vmin;
    }
    ion-input {
      font-size: 3.2vmin;
    }
  }
}
